<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Accueil</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <header>Bienvenue</header>
    <div class="button-container">
      <a href="{{ url_for('serve_login') }}" class="button">Se connecter</a>
      <a href="{{ url_for('serve_register') }}" class="button">Créer un compte</a>
    </div>
  </div>
</body>
</html>
