<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Inscription</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <div class="registration form">
      <header>Inscription</header>
      <form id="registerForm">
        <input type="text" placeholder="Entrez votre nom" id="registerNom" required>
        <input type="text" placeholder="Entrez votre prénom" id="registerPrenom" required>
        <input type="email" placeholder="Entrez votre email" id="registerEmail" required>
        <input type="tel" placeholder="Numéro de téléphone" id="registerTelephone">
        <input type="text" placeholder="Adresse" id="registerAdresse">
        <input type="password" placeholder="Créez un mot de passe" id="registerPassword" required>
        <input type="password" placeholder="Confirmez votre mot de passe" id="confirmPassword" required>        
        <label class="small-checkbox">
            <input type="checkbox" onclick="togglePasswordVisibility()"> Afficher le mot de passe
          </label>
        <input type="button" class="button" value="Inscription" onclick="registerUser()">
      </form>
      <div class="signup">
        <span>Déjà un compte ? <a href="{{ url_for('serve_login') }}">Connectez-vous</a></span>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
